dist/
*.woff2
*.svg
*.ttf
*.eot
*.woff
*#*
.*#*
supervisord.log
*.log
*.pyc
supervisor.pid
supervisord.pid
*.log.*
.idea/
bin/
eggs/
develop-eggs/
parts/
node_modules/
*.egg-info
.installed.cfg
.python-version
**/__pycache__/
